.footer {

    background-color: #000;

    &__content {
        padding: 89px 0 19px;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media(max-width: $medium) {
            padding: 50px 0 19px;
        }
    }

    &__text {
        margin-bottom: 34px;
        display: block;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
    }

    &__social {
        margin-bottom: 30px;
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 34px;
        }
    }

    &__icon {
        fill: #fff;
    }

    &__svg {
        transition: transform 0.3s, fill 0.3s;

        &:hover {
            transform: scale(1.3);
            fill: $accent;
        }

        &:active {
            fill: rgba($accent, 0.8);
        }
    }

    &__link {
        padding: 10px;
        fill: #fff;

        &:hover {
            .footer__icon {
                animation: top-down 2s infinite;
                fill: $accent;
            }
        }

        @keyframes top-down {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }
}