html, body {
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: $main;
    line-height: 1.6;
    background-color: #fff;
    // overflow: hidden;
}

main {
    flex-grow: 1;
}
button {
    cursor: pointer;
    background-color: $accent;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    margin-bottom: 37px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    color: $woodsmoke;
    text-transform: uppercase;
}

.subtitle {
    margin: 0 auto;
    display: block;
    text-align: center;
    max-width: 552px;
}

.arrow {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 85px;
    z-index: 9;
    opacity: 0.7;
    transition: opacity 0.5s;

    &:hover {
        opacity: 1;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.lock {
    overflow: hidden;
}

.show {
    position: relative;
    display: block;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: none;
    transition: background-color 0.3s;

    &::after, &::before {
        position: absolute;
        content: '';
        background-color: $dark;
        transition: background-color 0.3s;
    }

    &::after {
        top: 27px;
        left: 36px;
        width: 4px;
        height: 22px;
    }

    &::before {
        right: 5px;
        top: 36px;
        transform: translateX(-100%);
        height: 4px;
        width: 22px;
    }

    &--less {
        display: none;

        &::after {
            content: none;
        }
    }

}