html, body {
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: $main;
    line-height: 1.6;
    background-color: #fff;
}

main {
    margin-top: 120px;
    flex-grow: 1;

    @media(max-width: $medium) {
        margin-top: 90px;
    }

    @media(max-width: $small-phone) {
        margin-top: 70px;
    }
}

button {
    cursor: pointer;
    outline: transparent;
    background-color: $accent;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    margin-bottom: 37px;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    color: $woodsmoke;
    text-transform: uppercase;

    @media(max-width: $medium) {
        margin-bottom: 30px;
        font-size: 21px
    }
}

.subtitle {
    margin: 0 auto 94px;
    display: block;
    max-width: 560px;
    text-align: center;
    font-size: 15px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.lock {
    overflow: hidden;
}

.overflow {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0, 0.5);

    &--active {
        display: block;
    }
}

.logo {
    z-index: 3;

    &__img {
        @media(max-width: $medium) {
            max-width: 80%;
        }
    }
}

.show {
    position: relative;
    display: block;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: none;
    transition: background-color 0.3s;

    &::after, &::before {
        position: absolute;
        content: '';
        background-color: $dark;
        transition: background-color 0.3s;
    }

    &::after {
        top: 27px;
        left: 36px;
        width: 4px;
        height: 22px;
    }

    &::before {
        right: 5px;
        top: 36px;
        transform: translateX(-100%);
        height: 4px;
        width: 22px;
    }

    &--less {
        display: none;

        &::after {
            content: none;
        }
    }

    &:hover {
        animation: pulse 1.5s infinite;

        &::before, &:after {
            animation: color 1.5s infinite;
        }

        @keyframes color {
            0% {
                background-color: #000;
            }
            
            50% {
                background-color: #fff;
            }

            100% {
                background-color: #000;
            }
        }
    }
}