.header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 50;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__menu {
        padding: 36px 12px 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: padding 0.3s;

        &--active {
            padding: 10px 12px 10px;
        }
    }
}

.menu {

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-transform: uppercase;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {
        padding: 14px 22px;
        position: relative;
        color: $main;
        border: 1px solid transparent;
        transition: border 1s, color 0.3s;

        &::before, &:after {
            position: absolute;
            content: '';
            background-color: #fff;
            transition: 0.3s ease-in-out;
        }

        &::before {
            top: 3px;
            left: -1px;
            width: calc(100% + 2px);
            height: calc(100% - 6px);
            transition: transform 0.3s ease-in-out;
            transform: scaleY(1);
        }

        &::after {
            left: 3px;
            top: -1px;
            height: calc(100% + 2px);
            width: calc(100% - 6px);
            transition: transform 0.5s ease-in-out;
            transform: scaleX(1);
        }

        &:hover {

            border: 1px solid $accent;
            color: $woodsmoke;
            
            &::before {
                transform: scaleY(0);
            }

            &::after {
                transform: scaleX(0);
            }
        }

        span {
            position: relative;
            z-index: 3;
        }

        &:active {
            color: $accent;
        }
    }

    &__burger {
        display: none;
    }
}