.header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 50;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__menu {
        padding: 36px 12px 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: padding 0.3s;

        &--active {
            padding: 10px 12px 10px;
        }
    }
}

.menu {

    &__list {
        display: flex;
        justify-content: space-between;

        @media(max-width: $medium) {
            display: block;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, -200%);
            width: 100%;
            text-align: center;
            background-color: #fff;
            transition: transform 0.5s ease-in-out;

            &--active {
                transform: translate(-50%, 0);
            }
        }
    }

    &__item {
        text-transform: uppercase;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {
        padding: 14px 22px;
        position: relative;
        color: $main;
        border: 1px solid transparent;
        transition: border 1s, color 0.3s;
        
        @media(max-width: $large) {
            padding: 14px 10px;
        }

        @media(max-width: $medium) {
            display: block;
        }

        &::before, &:after {
            position: absolute;
            content: '';
            background-color: #fff;
            transition: 0.3s ease-in-out;
        }

        &::before {
            top: 3px;
            left: -1px;
            width: calc(100% + 2px);
            height: calc(100% - 6px);
            transition: transform 0.3s ease-in-out;
            transform: scaleY(1);
        }

        &::after {
            left: 3px;
            top: -1px;
            height: calc(100% + 2px);
            width: calc(100% - 6px);
            transition: transform 0.5s ease-in-out;
            transform: scaleX(1);
        }

        &:hover {

            border: 1px solid $accent;
            color: $woodsmoke;
            
            &::before {
                transform: scaleY(0);
            }

            &::after {
                transform: scaleX(0);
            }
        }

        span {
            position: relative;
            z-index: 3;
        }

        &:active {
            color: $accent;
        }
    }

    &__burger {
        display: none;
        // overflow: hidden;
        transition: all 0.5s ease-in-out;

        &--active {
            .menu__burger-btn {
                background-color:  transparent;
                transform: translateX(-50px);

                &::before {
                    transform: rotate(45deg) translate(32px, -37px);
                }

                &::after {
                    transform: rotate(-45deg) translate(37px, 32px);
                }
            }
        }

        @media(max-width: $medium) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            overflow: hidden;
        }
    }

    &__burger-btn {
        display: none;
        transition: all 0.5s ease-in-out;

        @media(max-width: $medium) {
            position: relative;
            display: block;
            width: 40px;
            height: 4px;
            border-radius: 10px;
            background-color: #000;

            &::before, &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: #000;
                transition: all 0.5s ease-in-out;
            }

            &::before {
                transform: translateY(-12px);
            }

            &::after {
                transform: translateY(12px);
            }
        }
    }
}