.portfolio {

    padding: 93px 0 34px;

    &__subtitle {
        margin-bottom: 60px;
    }

    &__filter {
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
    }

    &__filter-item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__button {
        padding: 3px 19px;
        background-color: transparent;
        border: 1px solid $dark;
        transition: border 0.3s, color 0.3s, background-color 0.3s;

        &--active {
            background-color: $accent;
            color: #fff;
            border: 1px solid transparent;
        }
    }

    &__list {
        margin-bottom: 34px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
    }

    &__box {
        flex: 0 1 25%;
        height: 300px;
        position: relative;
        overflow: hidden;
        animation-delay: calc(0.1s * var(--i));

        &:hover {
            .portfolio__link {
                opacity: 1;
            }

            .portfolio__text {
                transform: scale(1);
                transition-delay: 0.1s;
            }

            .portfolio__type {
                transform: translateX(0);
                // transition-delay: 0.3s;
            }
        }
    }

    &__link {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        background-color: rgba(0,0,0, 0.5);
        transition: opacity 0.3s;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        transform: scale(0);
        transition: transform 0.3s;
    }

    &__type {
        color: $accent;
        transform: translateX(-2000%);
        transition: transform 0.3s;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__more {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.hide {
    display: none;
}