.portfolio {

    padding: 93px 0 34px;

    &__subtitle {
        margin-bottom: 60px;
    }

    &__filter {
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
    }

    &__filter-item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__button {
        padding: 3px 19px;
        background-color: transparent;
        border: 1px solid #121215;
        transition: border 0.3s, color 0.3s, background-color 0.3s;
    }

    &__list {
        margin-bottom: 34px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__box {
        width: 468px;
        height: 300px;
        position: relative;

        &:nth-child(1) {
            animation-delay: 0;
        }

        &:nth-child(2) {
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            animation-delay: 0.4s;
        }

        &:nth-child(4) {
            animation-delay: 0.6s;
        }

        &:nth-child(5) {
            animation-delay: 0.8s;
        }

        &:nth-child(6) {
            animation-delay: 1s;
        }

        &:nth-child(7) {
            animation-delay: 1.2s;
        }

        &:nth-child(8) {
            animation-delay: 1.4s;
        }

        &:hover {
            .portfolio__link {
                opacity: 1;
            }
        }
    }

    &__link {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        background-color: rgba(0,0,0, 0.5);
        transition: opacity 0.3s;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
    }

    &__type {
        color: $accent;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__more {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__show {
        position: relative;
        display: block;
        width: 76px;
        height: 76px;
        background-color: $accent;
        border-radius: 50%;
        border: none;
        transition: background-color 0.3s;

        &::after, &::before {
            position: absolute;
            content: '';
            background-color: #121215;
            transition: background-color 0.3s;
        }

        &::after {
            top: 27px;
            left: 36px;
            width: 4px;
            height: 22px;
        }

        &::before {
            right: 5px;
            top: 36px;
            transform: translateX(-100%);
            height: 4px;
            width: 22px;
        }

        &--less {
            display: none;

            &::after {
                content: none;
            }
        }

        &:hover {
            background-color: #000;
            &::after, &::before {
                background-color: $accent;
            }
        }
    }
}

.mixitup-control-active {
    background-color: $accent;
    color: #fff;
    border: 1px solid transparent;
}