.top {
    margin-top: 120px;
    display: flex;
    align-items: center;
    height: calc(100vh - 120px);
    @extend %bg;

    &__title {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 55px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;

        span {
            font-size: 20px;
        }
    }

    &__link {
        padding: 20px;
        margin: 0 auto;
        display: block;
        width: 231px;
        color: #fff;
        background-color: $accent;
        text-transform: uppercase;
        text-align: center;
    }
}