.top {
    display: flex;
    align-items: center;
    height: 100vh;
    // height: calc(100vh - 120px);
    @extend %bg;

    &__title {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 55px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        animation-delay: 0.5s;

        span {
            font-size: 20px;
        }
    }

    &__link {
        padding: 20px;
        margin: 0 auto;
        display: block;
        position: relative;
        width: 231px;
        color: #fff;
        background-color: $accent;
        text-transform: uppercase;
        text-align: center;
        transition: font-weight 0.3s, letter-spacing 0.3s, background-color 0.3s, border-radius 0.3s;
        animation-delay: 0.7s;

        &:hover {
            background-color: rgba($accent, 0.9);
            border-radius: 5px;
            font-weight: 700;
            letter-spacing: 1px;
  
            rect {
                stroke-width: 5;
                stroke-dasharray: 15, 310;
                stroke-dashoffset: 48;
                transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
                opacity: 1;
            }
        }
    }

    &__svg {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0; 
        width: 100%; 
    }
      
    rect {
    opacity: 0;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
    }
}