$main: #8e8e8e;
$woodsmoke: #131316;
$accent: #fa5c58;
$dark: #121215;

%bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

$small-phone: 576px;

$medium: 768px;

$tablet: 1024px;

$large: 1200px;

$extra-large: 1400px;

%limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%two-lines {
  &::before, &::after {
    position: absolute;
    content: '';
    width: 4px;
    height: 100%;
    background-color: #ff0600;
    transition: width 0.3s ease-in-out;
}

&::before {
    left: 0;
}

&::after {
    right: 0;
}
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
  }
  
  @function min($numbers...) {
    @return m#{a}x(#{$numbers});
  }