@import 'fonts';
@import 'reset';
@import 'vars';
@import 'libs';
@import 'global';

@import 'header';
@import 'top';
@import 'video';
@import 'portfolio';
@import 'about';
@import 'team';
@import 'blog';
@import 'contact';
@import 'footer';